@import 'common/base';

main {
    grid-column: 2;
    grid-row: 3;
    justify-items: center;
    justify-content: stretch;
    display: grid;
    margin: 1rem;

    div.content {
        align-self: center;
        display: grid;
        grid-template-columns: auto;
        row-gap: 1rem;
        width: 100%;
        max-width: 1000px;

        form {
            display: grid;
            grid-template-columns: auto;
            row-gap: 1rem;
        }

        h2 {
            font-size: 2rem;
            color: $main;
            margin-top: 0;
        }

        div#answers {
            display: grid;
            row-gap: 1rem;
        }

        div.question-row,
        div.answer-row {
            label {
                display: block;
                color: $main;
                // margin-bottom: .5rem;
            }

            input {
                border: none;
                border-bottom: 2px solid $main;
                padding: .5rem;
                font-size: 1rem;
                display: block;
                width: 100%;
                outline: none;
                transition: border-color .1s ease-in-out;
                background-color: transparent;

                &:focus {
                    border-color: $accent;
                }
            }
        }

        div.button-box {
            display: grid;
            grid-template-columns: min-content min-content auto min-content;
            column-gap: .5rem;

            #row-add {
                grid-column: 1;
            }

            #row-del {
                grid-column: 2;
            }

            #submit {
                grid-column: 4;
            }

            button {
                border-radius: 0;
                border: 2px solid $main;
                background-color: transparent;
                padding: .5rem 1rem;
                font-size: 1rem;
                transition: background-color .1s ease-in-out, border-color .1s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: $accent;
                    border-color: $accent;
                }
            }

        }

    }

}