div.message {
    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 4;

    &.kind-ok {
        background-color: greenyellow;
    }

    &.kind-warning {
        background-color: #ff5500;
    }

    &.kind-error {
        background-color: #ff3333;
    }

    button {
        float: right;
        border-radius: 0;
        background-color: transparent;
        border-color: $main;
        cursor: pointer;
    }
}